<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bil495calendear.bitirmeprojesi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".ApartmentDetailActivity"
            android:parentActivityName=".MyApartmentsListActivity"></activity>
        <activity
            android:name=".ShowApartmentID"
            android:parentActivityName=".MyApartmentsListActivity" />
        <activity android:name=".ViewSurveys" />
        <activity android:name=".CreateSurveyActivity" />
        <activity android:name=".SurveyAdminActivity" />
        <activity
            android:name=".JoinApartmentActivity"
            android:parentActivityName=".ApartmentActivity" />
        <activity
            android:name=".MyApartmentsListActivity"
            android:parentActivityName=".ApartmentActivity" />
        <activity
            android:name=".ApartmentActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".WelcomeActivity" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".WelcomeActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".DiscussionActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SurveyActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ResetPasswordActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".ChatActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CreateNewApartmentActivity"
            android:parentActivityName=".ApartmentActivity" />
    </application>

</manifest>